doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header--border')
    div(class='content')
      block content
    div(class='footer--border')
