include ./sign.jade
extends layout

block content
  +sign()
    p.big
      span.cursive We're live!
    p 
      if user
        a(href="https://www.twitch.tv/51play") 5.1 Play
        |  is live! Visit our chatroom to get your card stamped ♡
      else
        a(href="https://www.twitch.tv/51play") 5.1 Play
        |  is live! Log in with twitch to get your card stamped ♡
