mixin sign()
  .sign
    .sign--rope
    .sign--peg
    .sign-center
      .sign--border-container
        img.sign--ribbon.sign--ribbon__left(src='https://svgsilh.com/svg/665067.svg')
        img.sign--ribbon.sign--ribbon__right(src='https://svgsilh.com/svg/665067.svg')
        .sign--border
          .sign--body-wrapper
            .sign--body
              block
          .sign--background
            .sign--background__logo
            |  
            .sign--background__facet.sign--background__facet-0
            |   
            .sign--background__facet.sign--background__facet-1
            |   
            .sign--background__facet.sign--background__facet-2
            |   
            .sign--background__facet.sign--background__facet-3
            |   
            .sign--background__facet.sign--background__facet-4
            |   
            .sign--background__facet.sign--background__facet-5
            |   
            .sign--background__facet.sign--background__facet-6
            |   
            .sign--background__facet.sign--background__facet-7
            |   
            .sign--background__facet.sign--background__facet-8
            |   
            .sign--background__facet.sign--background__facet-9
            |   
            .sign--background__facet.sign--background__facet-10
            |   
            .sign--background__facet.sign--background__facet-11
            |   
            .sign--background__facet.sign--background__facet-12
            |   
            .sign--background__facet.sign--background__facet-13
            |   
            .sign--background__facet.sign--background__facet-14
            |   
            .sign--background__facet.sign--background__facet-15
            |   
            .sign--background__facet.sign--background__facet-16
            |   
            .sign--background__facet.sign--background__facet-17
            |   
            .sign--background__facet.sign--background__facet-18
            |   
            .sign--background__facet.sign--background__facet-19
            |   
            .sign--background__facet.sign--background__facet-20
            |   
            .sign--background__facet.sign--background__facet-21
            |   
            .sign--background__facet.sign--background__facet-22
            |   
            .sign--background__facet.sign--background__facet-23
            |   
            .sign--background__facet.sign--background__facet-24
            |   
            .sign--background__facet.sign--background__facet-25
            |   
            .sign--background__facet.sign--background__facet-26
            |   
            .sign--background__facet.sign--background__facet-27
            |   
            .sign--background__facet.sign--background__facet-28
            |   
            .sign--background__facet.sign--background__facet-29
            |   
            .sign--background__facet.sign--background__facet-30
            |   
            .sign--background__facet.sign--background__facet-31
          .sign--background.sign--background-shadow
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-0
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-1
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-2
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-3
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-4
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-5
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-6
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-7
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-8
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-9
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-10
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-11
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-12
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-13
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-14
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-15
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-16
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-17
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-18
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-19
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-20
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-21
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-22
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-23
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-24
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-25
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-26
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-27
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-28
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-29
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-30
            |   
            .sign--background-shadow__facet.sign--background__facet.sign--background__facet-31

